/*******************************************************************************
 * Copyright ©2002-2018 Skava - All rights reserved.
 * 
 * All information contained herein is, and remains the property of Skava.
 * Skava including, without limitation, all software and other elements thereof, 
 * are owned or controlled exclusively by Skava and protected by copyright, patent
 * and other laws. Use without permission is prohibited. 
 * Unauthorized copying of this file, via any medium is strictly prohibited
 *    
 * For further information contact Skava at info@skava.com.
 ******************************************************************************/
package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonInclude.Include;
import com.fasterxml.jackson.annotation.JsonProperty;

import javax.validation.constraints.NotNull;
import java.io.Serializable;

{{#models}}

{{#model}}{{#description}}
/**
 * {{description}}
 **/{{/description}}

@NoArgsConstructor
@JsonInclude(Include.NON_NULL)
@JsonIgnoreProperties(ignoreUnknown = true)
@Getter
@Setter
public class {{classname}} {{#parent}}extends {{{parent}}}{{/parent}}implements Serializable {
  /**
  * The Constant serialVersionUID.
  */
  private static final long serialVersionUID = 1L;
  {{#vars}}
  {{#isEnum}}
  public enum {{datatypeWithEnum}} {
    {{#allowableValues}}{{#values}} {{.}}, {{/values}}{{/allowableValues}}
  };
  /**{{#description}}
   * {{{description}}}{{/description}}{{#minimum}}
   * minimum: {{minimum}}{{/minimum}}{{#maximum}}
   * maximum: {{maximum}}{{/maximum}}
   **/
  {{#required}}@NotNull{{/required}}
  /**
   * The {{name}}
   */
  private {{{datatypeWithEnum}}} {{name}};{{/isEnum}}{{^isEnum}}
  {{#required}}@NotNull{{/required}}
  /**
   * The {{name}}
   */
  private {{{datatype}}} {{name}};{{/isEnum}}{{/vars}}

}
{{/model}}
{{/models}}
